@import "../../assets/variables";

.WrappContainerEmpty {
  background-color: $main-color;
}
.WrappContainer {
  min-height: calc(100vh - ($header-height + $footer-height));
  background-color: $main-color;
  &Cards {
    max-width: 100%;
    margin: auto;
    padding: 50px 0;

    .Cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .CardsItem {
        display: flex;
        flex-direction: row;
        border-radius: 0.5rem;
        width: 600px;
        min-height: 220px;
        box-shadow: 2px 5px 12px black;
        margin: 10px;
        background-color: $card-bg-color;
        @media (max-width: 600px) {
          flex-direction: column;
        }
        &Image {
          height: inherit;
          overflow: hidden;
          margin-left: 0;

          > img {
            object-fit: cover;
            opacity: 1;
            transition: opacity 0.5s ease 0s;
            object-position: center center;
            border-radius: 0.5rem;
            height: 100%;
            @media (max-width: 600px) {
              width: 100%;
              height: 200px;
            }
          }
        }
        .CardDescription {
          display: block;
          text-align: left;
          text-align: start;
          line-height: 6px;
          margin: auto 20px;

          .CardDescriptionHuman {
            display: flex;
            flex-direction: row;
            > h3 {
              font-weight: 500;
              color: $white-color;
              text-align: start;
              cursor: pointer;
              &:hover {
                color: $hover-color;
              }
            }
          }
          > h2 {
            font-weight: 900;
            color: $white-color;
            text-align: start;
            cursor: pointer;
            &:hover {
              color: $hover-color;
            }
          }

          > h4 {
            font-weight: 700;
            color: $white-color;
            text-align: start;
            cursor: pointer;
            &:hover {
              color: $hover-color;
            }
          }
          .cardItemText {
            color: $white-color;
            opacity: 0.5;
          }
          .cardItemTextLocation {
            color: $white-color;
            &:hover {
              color: $hover-color;
            }
          }
        }
      }
    }
  }
}
