@import "../../assets/variables";
.WrapperDetails {
  width: 100%;
  min-height: calc(100vh - ($footer-height + $header-height));
  margin-top: 30px;

  .BackToHome {
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    border: 1px solid rgb(255, 152, 0);
    background: transparent;
    margin-left: 20px;

    cursor: pointer;
    &:hover {
      border: 1px solid transparent;
      background: rgb(255, 152, 0);
      color: $white-color;
      transition: 0.2s ease-in-out;
    }
  }
  .CardsItem {
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 0.5rem;
    width: calc(100% - 300px);
    margin: auto;
    height: auto;

    @media (max-width: 600px) {
      flex-direction: column;
      height: auto;
      width: auto;
    }
    &Image {
      mask-image: -webkit-linear-gradient(bottom, #edeff7 70%, transparent 88%);
      > img {
        object-fit: cover;
        opacity: 1;
        transition: opa city 0.5s ease 0s;
        object-position: center center;
        border-radius: 0.5rem;
        width: 50%;
        margin: auto;
        display: block;
        height: 100%;
        mask-image: -webkit-linear-gradient(top, #edeff7 70%, transparent 78%);

        user-select: none;
      }
    }
    .CardDescription {
      width: 60%;
      margin: 30px auto;
      display: flex;
      height: auto;
      justify-content: space-between;
      text-align: left;
      text-align: start;
      line-height: 6px;
      @media (max-width: 800px) {
        flex-direction: column;
        height: auto;
        width: auto;
      }

      @media (min-width: 800px) and (max-width: 1220px) {
        width: 100%;
      }
      .CardDescriptionHuman {
        display: flex;
        flex-direction: row;

        > h3 {
          font-weight: 500;
          color: $black-color;
          text-align: start;
          cursor: pointer;
          &:hover {
            color: $hover-color;
          }
        }
      }
      > h2 {
        font-weight: 900;
        color: $black-color;
        text-align: start;
        cursor: pointer;
        &:hover {
          color: $hover-color;
        }
      }

      > h4 {
        font-weight: 700;
        color: $black-color;
        text-align: start;
        cursor: pointer;
        &:hover {
          color: $hover-color;
        }
      }
      .cardItemText {
        color: $black-color;
        opacity: 0.5;
      }
      .cardItemTextLocation {
        color: $black-color;
        &:hover {
          color: $hover-color;
        }
      }
    }
  }
}
