@import "../../assets/variables";

.WrappPreview {
  padding: 70px 0;
  &Title {
    text-align: center;
    font-weight: 900;
    font-size: clamp(2rem, 3vw, 4rem);
    display: block;
    margin: auto;

    > input {
      padding: 15px 20px;
      width: 500px;
      outline: none;
    }
  }
}
