@import "../../assets/variables";

.WrappFooter {
  min-height: $footer-height;
  width: 100%;
  background-color: $footer-bg;
  color: rgb(187, 187, 187);
  display: flex;
  align-items: center;
  padding: 50px 0;

  &Link {
    max-width: 80%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > div {
      line-height: 40px;
      &:nth-child(1) {
        > span {
          margin: 0 30px;
          font-weight: 700;
        }
      }
      &:nth-child(2) {
        font-weight: 700;

        &::after {
          content: "🟢";
          font-size: 12px;
          margin-left: 10px;
        }
      }

      &:nth-child(4) {
        > a {
          color: $white-color;
        }
      }
    }
  }
}
